.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 9.5rem;
  padding-left: 390px;
  margin-top: 50px;
}

img {
  margin-top: -90px;
  height: 150px;
  margin-right: 370px;
}

.header__nav a:hover {
  /* color: red; */
  /* background-color: red; */
  border: solid white;
  padding: 10px 30px;
}

.dis {
  margin-top: 50px;
}

.nav-item {
  margin-right: 20px;
}

.dist {
  margin-right: 600px;
}

/* #icons {
  width: fit-content;
} */

.iconing {
  width: 20px;
  height: 40px;
}
