.header__nav > ul {
  display: inline-flex;
  align-items: center;
  list-style: none;
  gap: 6.5rem;
  padding-left: 390px;
  margin-top: 50px;
}

img {
  margin-top: -90px;
  height: 150px;
}

.header__nav a:hover {
  /* color: red; */
  /* background-color: red; */
  border: solid blue;
  padding: 10px 30px;
}
