{% block content %} {% load static %}
<!--  -->
<!--  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="dis">
      <img src="{% static 'images/secretariat.png' %}" alt="" />
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  -->
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout-page' %}">Logout</a>
        </li>
        {% else %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{% url 'register' %}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Register
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'register' %}"
                    >Register</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    {% endif %}
  </div>
  <!-- if user is authenticated -->

  <!-- {% if user.is_authenticated %}
  <div class="dist">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout-page' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %} -->
</nav>

{% if messages %} {% for message in messages %}
<div class="alert alert-{{message.tags}}">
  {{message}}
  <a href="" class="del-mesg">&times;</a>
</div>
{% endfor %} {% endif %} {% endblock content %}
